ul li
{
  list-style-type: none;
}

.app-wrapper
{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
          "h h"
  "n c";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.app-wrapper-content
{

  grid-area: c;
  background-color: aqua;

}









