ul li
{
  list-style-type: none;
}

.app-wrapper
{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
          "h h"
  "n c";
}

.header
{
  grid-area: h;
  background-color: red;
}

.header img
{
  width: 40px;
}

.nav
{
  grid-area: n;
  background-color: green;
}

.content
{
  grid-area: c;
  background-color: aqua;
}