.dialogs
{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem
{
    padding: 10px;


}

.dialogsItem .active
{
    color: #FFFF00;
}

.item
{
    display: flex;
    margin-bottom: 10px;
}



.messages
{
    padding: 10px;
}

.messages-item
{
    padding: 10px;
}

.messageAva
{
    border-radius: 20px;
    height: 140px;
}