.dialogs
{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem
{
    padding: 10px;
}

.dialogsItem .active
{
    color: #FFFF00;
}

.item
{

}



.messages
{

}

.messages-item
{
    padding: 10px;
}